web/WEB-INF/wsdl/srv-si-001.utpl.edu.ec_8080/PersonaES.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://utpl.edu.ec/schema/syllabus/ProgramaAcademico/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://utpl.edu.ec/schema/syllabus/ProgramaAcademico/v1/"><xs:complexType name="ProgramaAcademicoBaseType"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="codigo" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="nombre" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="modalidadId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="modalidad" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="nivelAcademicoId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="nivelAcademico" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="periodoId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="periodo" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="numeroPeriodo" type="xs:int"/><xs:element minOccurs="0" maxOccurs="1" name="sistemaEstudioId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="sistemaEstudio" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="titulo" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="unidadAcademicaId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="unidadAcademica" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="areaFormacionId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="areaFormacion" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:int"/></xs:sequence></xs:complexType></xs:schema>