src/conf/xml-resources/web-service-references/AutenticacionAcademico/wsdl/172.16.50.154/eva/enrol/utpl/lib/syllabus/AutenticacionAcademico.php.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://utpl.edu.ec/contract/syllabus/us/AutenticacionAcademicoUS/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:usu="http://utpl.edu.ec/schema/eva/Usuario/v1/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://utpl.edu.ec/contract/syllabus/us/AutenticacionAcademicoUS/v1/">
<types>
<xsd:schema targetNamespace="http://utpl.edu.ec/contract/syllabus/us/AutenticacionAcademicoUS/v1/"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="AutenticacionAcademicoRqsType">
  <xsd:sequence>
   <xsd:element name="Login" type="xsd:string"/>
   <xsd:element name="Clave" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AutenticacionAcademicoRpsType">
  <xsd:sequence>
   <xsd:element name="Login" type="xsd:string"/>
   <xsd:element name="Identificacion" type="xsd:string"/>
   <xsd:element name="MsgRetorno" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="AutenticacionAcademicoMsgRqs">
  <part name="requestParam" type="tns:AutenticacionAcademicoRqsType" /></message>
<message name="AutenticacionAcademicoMsgRps">
  <part name="responseParam" type="tns:AutenticacionAcademicoRpsType" /></message>
<portType name="AutenticarESInterface">
  <operation name="AutenticacionAcademico">
    <documentation>Este metodo permite autenticar usuarios LDAP (encriptacion md5 y sha por el momento)</documentation>
    <input message="tns:AutenticacionAcademicoMsgRqs"/>
    <output message="tns:AutenticacionAcademicoMsgRps"/>
  </operation>
</portType>
<binding name="AutenticarBinding" type="tns:AutenticarESInterface">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="AutenticacionAcademico">
    <soap:operation soapAction="urn:CuentaUsuario#AutenticacionAcademicoRpsType" style="rpc"/>
    <input><soap:body use="literal" namespace="urn:CuentaUsuario#AutenticacionAcademicoRqsType"/></input>
    <output><soap:body use="literal" namespace="urn:CuentaUsuario#AutenticacionAcademicoRqsType"/></output>
  </operation>
</binding>
<service name="Autenticar">
  <port name="AutenticarPort" binding="tns:AutenticarBinding">
    <soap:address location="http://172.16.50.154/eva/enrol/utpl/lib/syllabus/AutenticacionAcademico.php"/>
  </port>
</service>
</definitions>